<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/post_form' %>
      </section>
    </aside>
  </div>  
      <div class="span8">
      <h3>Blog Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to Jack's App</h1>

    <h2>
      This is the home page for the Jackmart application.
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>
<%= link_to image_tag("http://www.abdn.ac.uk/structure-images/logo.gif", alt: "University of Aberdeen"), 'http://www.abdn.ac.uk/index.php' %>
<div class='twshare left'> 
  <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="Jackmart">Tweet</a>
  <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script> 
</div>
<% end %> 

