<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/post_form' %>
      </section>
    </aside>
  </div>  
      <div class="span8">
      <h3>Blog Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to Jack's App</h1>
    <h2>
      This is the home page for the Jackmart application. 
    </h2>
	<p>A place where you can trade idea's and thoughts with friends</p>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
								</br>
								</br>
<%= link_to image_tag("http://www.abdn.ac.uk/structure-images/logo.gif", alt: "University of Aberdeen"), 'http://www.abdn.ac.uk/index.php' %>

<div class='twshare left'> 
<a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="Jackmart">Tweet</a>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script> 
</div>
<p>You can also tweet about this website!</p>

<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.uk/maps?f=q&amp;source=s_q&amp;hl=en&amp;q=Aberdeen+University&amp;aq=&amp;sll=57.162894,-2.098174&amp;sspn=0.019175,0.066047&amp;t=h&amp;ie=UTF8&amp;st=112189056587853251516&amp;rq=1&amp;ev=zi&amp;split=1&amp;radius=1.49&amp;hq=Aberdeen+University&amp;hnear=&amp;ll=57.149717,-2.094278&amp;spn=0.019175,0.066047&amp;output=embed"></iframe><br /><small><a href="http://maps.google.co.uk/maps?f=q&amp;source=embed&amp;hl=en&amp;q=Aberdeen+University&amp;aq=&amp;sll=57.162894,-2.098174&amp;sspn=0.019175,0.066047&amp;t=h&amp;ie=UTF8&amp;st=112189056587853251516&amp;rq=1&amp;ev=zi&amp;split=1&amp;radius=1.49&amp;hq=Aberdeen+University&amp;hnear=&amp;ll=57.149717,-2.094278&amp;spn=0.019175,0.066047" style="color:#0000FF;text-align:left">View Larger Map</a></small>
<br />
<p>The app founder is located here at the University of Aberdeen</p>
</div>



<% end %> 

